{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <!--Navbar-->        
    {% include 'partials/header.html' %}
    <main>
        <div class="b-example-divider text-bg-dark py-2" style="opacity: 50%;"></div>
        <!--Modal Login-->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" style="display: none;" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Login Usuário</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" placeholder="example@email.com" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                    <div id="emailHelp" class="form-text">Esqueceu sua senha? <a href="#" style="color:blue;">Clique aqui</a> </div>
                  </div>
                  <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Lembrar login</label>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"> <img width="24" height="24" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg"> Entrar com Google</button>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Entrar</button>
              </div>
            </div>
          </div>
        </div>
        <!--Modal Registrar-->
        <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" style="display: none;" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel2">Registrar Usuário</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" placeholder="example@email.com" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Confirmar Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-1 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Lembrar login</label>
                  </div>
                  <div class="mb-1 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck2">
                    <label class="form-check-label" for="exampleCheck2">Aceitar os <a href="#" style="color: blue;">Termos de Uso</a></label>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"> <img width="24" height="24" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg"> Entrar com Google</button>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Registrar</button>
              </div>
            </div>
          </div>
        </div>
        <!--Categoria A-->
        <div class="container pt-4 mt-4">
          <h2 class="pb-2 border-bottom">Produtos Destaques</h2>
          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row align-items-start gap-3">
                  <div class="col">
                    <div class="card">
                      <img src="{% static 'assets/img/camisaestampa.png' %}" class="card-img-top" alt="..." >
                      <div class="card-body">
                        <h5 class="card-title">Camisa Estampa - <span style="color:green;font-family:Arial Black;">R$57,60</span></h5>
                        <p class="card-text">Roupa com estampas.</p> <span class="badge text-bg-danger rounded-pill">PROMOÇÃO</span>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="{% static 'assets/img/camisabranca.png' %}" class="card-img-top" alt="..." >
                      <div class="card-body">
                        <h5 class="card-title">Camisa Branca - <span style="color:green;font-family:Arial Black;">R$57,60</span></h5>
                        <p class="card-text">Uma linda camisa branca</p> <span class="badge text-bg-danger rounded-pill">PROMOÇÃO</span>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="{% static 'assets/img/camisaosso.png' %}" class="card-img-top" alt="..." >
                      <div class="card-body">
                        <h5 class="card-title">Camisa Preta - <span style="color:green;font-family:Arial Black;">R$57,60</span></h5>
                        <p class="card-text">Uma bela camisa preta</p> <span class="badge text-bg-danger rounded-pill">PROMOÇÃO</span>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="{% static 'assets/img/camisaazul.png' %}" class="card-img-top" alt="..." >
                      <div class="card-body">
                        <h5 class="card-title">Camisa Azul - <span style="color:green;font-family:Arial Black;">R$57,60</span></h5>
                        <p class="card-text">Roupa azul com estampas.</p> <span class="badge text-bg-danger rounded-pill">PROMOÇÃO</span>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <div class="row align-items-start gap-3">
                  <div class="col">
                    <div class="card">
                      <img src="{% static 'assets/img/camisaestampa.png' %}" class="card-img-top" alt="..." >
                      <div class="card-body">
                        <h5 class="card-title">Camisa Estampa - <span style="color:green;font-family:Arial Black;">R$57,60</span></h5>
                        <p class="card-text">Roupa com estampas.</p> <span class="badge text-bg-danger rounded-pill">PROMOÇÃO</span>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="{% static 'assets/img/camisabranca.png' %}" class="card-img-top" alt="..." >
                      <div class="card-body">
                        <h5 class="card-title">Camisa Branca - <span style="color:green;font-family:Arial Black;">R$57,60</span></h5>
                        <p class="card-text">Uma linda camisa branca</p> <span class="badge text-bg-danger rounded-pill">PROMOÇÃO</span>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="{% static 'assets/img/camisaosso.png' %}" class="card-img-top" alt="..." >
                      <div class="card-body">
                        <h5 class="card-title">Camisa Preta - <span style="color:green;font-family:Arial Black;">R$57,60</span></h5>
                        <p class="card-text">Uma bela camisa preta</p> <span class="badge text-bg-danger rounded-pill">PROMOÇÃO</span>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="{% static 'assets/img/camisaazul.png' %}" class="card-img-top" alt="..." >
                      <div class="card-body">
                        <h5 class="card-title">Camisa Azul - <span style="color:green;font-family:Arial Black;">R$57,60</span></h5>
                        <p class="card-text">Roupa azul com estampas.</p> <span class="badge text-bg-danger rounded-pill">PROMOÇÃO</span>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <!--Produtos Promocionais-->
        <div class="container pt-4 mt-3">
          <h2 class="pb-2 border-bottom">Produtos Promocionais</h2>
          <div id="carouselExampleIntervalPromo" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row align-items-start gap-3">
                  {% for x in promo %}
                  <div class="col">
                    <div class="card">
                      {% if x.path %}
                        <img src="{{ x.path.url }}" class="card-img-top" alt="...">
                      {% else %}
                        <img src="{{ icons.1.icones.url }}" class="card-img-top" alt="..." width="50px">
                      {% endif %}
                      <div class="card-body">
                        <h5 class="card-title">{{x.nome_produto}} - <span style="color:green;font-family:Arial Black;">R${{x.preco_produto}}</span></h5>
                        <p class="card-text">{{x.description}}</p> <span class="badge text-bg-danger rounded-pill">PROMOÇÃO</span>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <div class="row align-items-start gap-3">
                  {% for x in promo %}
                  <div class="col">
                    <div class="card">
                      {% if x.path %}
                        <img src="{{ x.path.url }}" class="card-img-top" alt="...">
                      {% else %}
                        <img src="{{ icons.1.icones.url }}" class="card-img-top" alt="..." width="50px">
                      {% endif %}
                      <div class="card-body">
                        <h5 class="card-title">{{x.nome_produto}} - <span style="color:green;font-family:Arial Black;">R${{x.preco_produto}}</span></h5>
                        <p class="card-text">{{x.description}}</p> <span class="badge text-bg-danger rounded-pill">PROMOÇÃO</span>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIntervalPromo" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIntervalPromo" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <!--Produtos Gerais-->
        <div class="container pt-4 mt-3">
          <h2 class="pb-2 border-bottom">Produtos Gerais</h2>
          <div id="carouselExampleIntervalGeral" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row align-items-start gap-3">
                  {% for x in casual %}
                  <div class="col">
                    <div class="card">
                      {% if x.path %}
                        <img src="{{ x.path.url }}" class="card-img-top" alt="...">
                      {% else %}
                        <img src="{{ icons.1.icones.url }}" class="card-img-top" alt="..." width="50px">
                      {% endif %}
                      <div class="card-body">
                        <h5 class="card-title">{{x.nome_produto}} - <span style="color:green;font-family:Arial Black;">R${{x.preco_produto}}</span></h5>
                        <p class="card-text">{{x.description}}</p> <span class="badge text-bg-danger rounded-pill">PROMOÇÃO</span>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <div class="row align-items-start gap-3">
                  {% for x in social %}
                  <div class="col">
                    <div class="card">
                      {% if x.path %}
                        <img src="{{ x.path.url }}" class="card-img-top" alt="...">
                      {% else %}
                        <img src="{{ icons.1.icones.url }}" class="card-img-top" alt="..." width="50px">
                      {% endif %}
                      <div class="card-body">
                        <h5 class="card-title">{{x.nome_produto}} - <span style="color:green;font-family:Arial Black;">R${{x.preco_produto}}</span></h5>
                        <p class="card-text">{{x.description}}</p> <span class="badge text-bg-danger rounded-pill">PROMOÇÃO</span>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIntervalGeral" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIntervalGeral" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <!--Categoria B-->
        <div class="container pt-4 mt-3">
          <h2 class="pb-2 border-bottom">Produtos Sociais</h2>
          <div id="carouselExampleIntervalSocial" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row align-items-start gap-3">
                  {% for x in social %}
                  <div class="col">
                    <div class="card">
                      {% if x.path %}
                        <img src="{{ x.path.url }}" class="card-img-top" alt="...">
                      {% else %}
                        <img src="{{ icons.1.icones.url }}" class="card-img-top" alt="..." width="50px">
                      {% endif %}
                      <div class="card-body">
                        <h5 class="card-title">{{x.nome_produto}} - <span style="color:green;font-family:Arial Black;">R${{x.preco_produto}}</span></h5>
                        <p class="card-text">{{x.description}}</p> <span class="badge text-bg-danger rounded-pill">PROMOÇÃO</span>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <div class="row align-items-start gap-3">
                  {% for x in social %}
                  <div class="col">
                    <div class="card">
                      {% if x.path %}
                        <img src="{{ x.path.url }}" class="card-img-top" alt="...">
                      {% else %}
                        <img src="{{ icons.1.icones.url }}" class="card-img-top" alt="..." width="50px">
                      {% endif %}
                      <div class="card-body">
                        <h5 class="card-title">{{x.nome_produto}} - <span style="color:green;font-family:Arial Black;">R${{x.preco_produto}}</span></h5>
                        <p class="card-text">{{x.description}}</p> <span class="badge text-bg-danger rounded-pill">PROMOÇÃO</span>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIntervalSocial" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIntervalSocial" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <!--Categoria C-->
        <div class="container pt-4 mt-3">
          <h2 class="pb-2 border-bottom">Produtos Casuais</h2>
          <div id="carouselExampleIntervalCasual" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row align-items-start gap-3">
                  {% for x in casual %}
                  <div class="col">
                    <div class="card">
                      {% if x.path %}
                        <img src="{{ x.path.url }}" class="card-img-top" alt="...">
                      {% else %}
                        <img src="{{ icons.1.icones.url }}" class="card-img-top" alt="..." width="50px">
                      {% endif %}
                      <div class="card-body">
                        <h5 class="card-title">{{x.nome_produto}} - <span style="color:green;font-family:Arial Black;">R${{x.preco_produto}}</span></h5>
                        <p class="card-text">{{x.description}}</p> <span class="badge text-bg-danger rounded-pill">PROMOÇÃO</span>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <div class="row align-items-start gap-3">
                  {% for x in casual %}
                  <div class="col">
                    <div class="card">
                      {% if x.path %}
                        <img src="{{ x.path.url }}" class="card-img-top" alt="...">
                      {% else %}
                        <img src="{{ icons.1.icones.url }}" class="card-img-top" alt="..." width="50px">
                      {% endif %}
                      <div class="card-body">
                        <h5 class="card-title">{{x.nome_produto}} - <span style="color:green;font-family:Arial Black;">R${{x.preco_produto}}</span></h5>
                        <p class="card-text">{{x.description}}</p> <span class="badge text-bg-danger rounded-pill">PROMOÇÃO</span>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIntervalCasual" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIntervalCasual" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
    </main>
    {% include 'partials/footer.html' %}
{% endblock %}